*::before,
*::after,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}

h1,h2 {
    font-family: "Roboto Mono", sans-serif;
}


/*Main Container */
#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr 1fr;
    height: calc(100vh - 10px);
    background-color: rgb(255, 255, 255);
}

/* Main Container for Dashboard Menu */ 
#dashboard {
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(22, 125, 234);
}

/* Top Dashboard Heading */
.dashHeading {
    display: flex;
    font-size: 25px;
    align-items: baseline;
    justify-content: center;
}

/* Dashmenu = Home .. Communities & Dashcontrol = Settings ... Privacy */
.dashMenu, .dashControl {
    font-size: 1.5em;
    padding: 20px;
}

/* Dashboard Categories */

li {
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: none;
    color: rgb(248, 246, 246);
}

/* Main Container for Header (SearchBar, UserNames, UserIcons */
#navigatingHeader {
    display: grid;
    grid-column: 2/6;
    grid-row: 1/2;
    
}

/* Sub-Container for SearchBar, UserNames, UserIcons */
.headerColumn {
    display: flex;
    align-items: baseline;
}

/* SearchBar Input Element */
.searchbar {
    width: 50%;
    height: 40px;
    margin: 1em;
    border-radius: 20px;
    border-width: 0px;
    background-color: rgb(175, 175, 175);
}

/* Container for UserName & Icon  */
.iconUser {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
    margin-right: 1em;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.userButtons {
    margin-right: 1em;
}

button { 
    background-color: rgba(0, 0, 255, 0.32);
    color: black;
    border-radius: 10px;    font-size: large;
}

#cardSection {
    display: grid;
    grid-gap: 20px;
    background-color: rgb(205,205,205);
    grid-column: 2/5;
    grid-row: auto;
}

.projectsHeading { 
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.grid  {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr));
}
.card1, .card2, .card3, .card4, .card5, .card6 {
    padding: 10px;
    margin: 15px;
    background-color: rgb(253, 253, 253);
    border-left-style: outset;
    border-left-color: rgb(247, 168, 89);
    border-left-width: 6px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


#notificationSection {
    grid-column: 5/5;
    grid-row: 2/2;
    background-color: rgb(205, 205, 205);
}

.announcementsContainer {
    display: grid;
    border-color: aliceblue;
    margin: 5px;
    padding: 2px;
    font-style: normal;
    color: white;
}

.notHeading {
    margin: 5px;
    font-size: large;
}

.announcePar {
    font-size: small;
    border-radius: 10px;
}

#usersTrending {
    display: grid;
    justify-content: start;
    background-color: white;
    border-radius: 20px;
    max-width: 350px;
    max-height: auto;
}

.trendingHeading {
    display: flex;
    
    
}

.userList {
    display: flex;
    flex-direction: column;
    font-style: normal;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}